.drug-chart-dashboard {
  font-family: "IBM Plex Sans", sans-serif;
}
.drug-chart {
  --time-cell-height: 66px;
  --half-hour-width: 21px;
  --line-width: 1px;

  height: calc(
    7 * var(--time-cell-height)
  ); //TODO: Update the fixed height once the full dashboard is completed
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.drug-chart-left-panel {
  border-right: 1px solid #ccc;
  font-size: 13px;
  overflow-y: auto;
  height: 100%;
  min-width: 225px;
  .header {
    height: 63px;
    background-color: #ededed;
    position: sticky;
    top: 0;
  }
  table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    tbody > tr:nth-child(even) {
      background-color: #f4f4f4;
    }
    tr {
      height: 66px;
      border-bottom: 0;
      td {
        line-height: 20px;
        padding: 0 10px;
        max-width: 100%;
        border: 0;
      }
    }
  }
}

.drug-chart-content {
  overflow: auto;
  height: 100%;
}
