.bx--table-expand__svg {
  fill: #161616;
}

td.bx--table-expand {
  padding: 0 !important;
}

table.bx--data-table {
  tbody tr:hover {
    background: transparent;
  }
  tr.bx--expandable-row.expandable-row-content {
    td {
      background-color: transparent !important;
    }
  }
}

.expandable-datatable {
  .green-row {
    .green-cell {
      background-color: #f2ffea !important;
    }
    td.bx--table-expand {
      background-color: #f2ffea !important;
    }
  }
}