.bx--table-expand__svg {
  fill: #161616;
}

td.bx--table-expand {
  padding: 0 !important;
}

table.bx--data-table {
  tbody tr:hover {
    background: transparent;
  }
  tr.bx--expandable-row.expandable-row-content {
    > td {
      background-color: transparent !important;
    }
  }
  tr.bx--expandable-row.variable-dose-expanded-row {
    > td {
      background-color: #ffffff !important;
      padding: 0 !important;
    }
  }
}

.expandable-datatable {
  .green-row {
    .green-cell {
      background-color: #f2ffea !important;
    }
    td.bx--table-expand {
      background-color: #f2ffea !important;
    }
  }
  .variable-dose-row {
    td.bx--table-expand {
      background-color: #fef5d3 !important;
    }
  }
  tbody tr.green-row:hover td {
    background-color: #f2ffea !important;
    opacity: 1 !important;
  }
  tbody tr.green-row:hover .bx--table-expand__button {
    background-color: transparent !important;
    opacity: 1 !important;
  }
  tbody tr.variable-dose-row:hover td {
    background-color: #fef5d3 !important;
    opacity: 1 !important;
  }
  tbody tr.variable-dose-row:hover .bx--table-expand__button {
    background-color: transparent !important;
    opacity: 1 !important;
  }
}
