.emergency-task-slider {
  padding: 0 20px 120px;

  .emergency-task-slider-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bx--list-box__menu-item[disabled] .bx--list-box__menu-item__option {
      color: gray;
    }
  }

  .administration-info {
    display: flex;
    gap: 10px;

    [class*="bx--time-picker"] {
      width: 100%;
    }
  }

  .bx--list-box__wrapper {
    max-width: 100%;
  }

  .bx--label {
    color: #161616;
  }

  .bx--tab-content {
    padding: 1rem 0;
  }

  button {
    border-radius: 0;
  }

  .dosage-section-container {
    display: flex;
    align-items: end;
    width: 59%;
  }

  .inline-field {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 0;
  }

  .date-picker-carbon {
    width: 50%;
  }

  @media (max-width: 480px) {
    .inline-field {
      flex-direction: column;
      align-items: unset;
    }
    .dosage-section-container {
      width: 100%;

      > * {
        width: 100%;
      }
    }
  }
}
