.no-nursing-tasks {
  padding-top: 10px;
}

.nursing-tasks-content-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .nursingTask-shift-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .bx--btn--expressive {
      min-height: 32px;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 18px;
      &:hover,
      &:focus {
        color: #fff;
      }
    }

    .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center::before {
      display: none;
    }

    .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center::after {
      display: none;
    }

    .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center
      .bx--assistive-text {
      display: none;
    }
  }

  .margin-right-6 {
    margin-right: 6px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }

  .nursing-task-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  .nursing-task-actions {
    display: flex;
    gap: 10px;
  }

  .nursing-task-dropdown {
    min-width: 130px;
  }
}

.nursing-task-tiles-container {
  display: flex;
  flex-wrap: wrap;
}

.date-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
}
