.no-nursing-tasks {
  padding-top: 10px;
}

.nursing-tasks-content-container {
  display: flex;
  flex-direction: column;
}

.nursing-task-tiles-container {
  display: flex;
  flex-wrap: wrap;
}

.date-text {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  margin-top: 16px;
  margin-bottom: 16px;
}
