.no-nursing-tasks {
  padding-top: 10px;
}

.nursing-tasks-content-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .bx--btn--expressive {
    font-size: 14px;
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .nursing-task-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  .nursing-task-actions {
    display: flex;
    gap: 10px;
  }

  .nursing-task-dropdown {
    min-width: 130px;
  }
}

.nursing-task-tiles-container {
  display: flex;
  flex-wrap: wrap;
}

.date-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
}
