.nursing-tasks-tile {
  border: 1px solid #007d79;
  background-color: #edf8e6;
  width: 323px;
  height: 90px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #d2e1c9;
  }
}

.relevant-task-tile {
  background-color: #e3fed1;

  &:hover {
    background-color: #c5eea9;
  }
}

.tile-parent-container {
  margin-bottom: 20px;
  margin-right: 20px;
  height: 90px;
}

.stacked-tile {
  position: relative;
  top: -80px;
  left: 8px;
  z-index: -1;
}

.tile-content {
  padding: 10px;
}

.tile-title {
  flex-direction: row;
  display: flex;

  .bx--tooltip__trigger.bx--tooltip__trigger--definition.bx--tooltip--bottom {
    cursor: pointer;
  }
}

.drug-title {
  white-space: nowrap;
  overflow: hidden;
  text-wrap: wrap;
  color: #393939;
  font-style: normal;
  padding-left: 4px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.14px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.tile-content-subtext {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #393939;
  letter-spacing: 0.12px;
  align-items: center;
  display: flex;
}

.nursing-task-icon-container {
  margin-top: 2px;
}

.more-info {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #393939;
  letter-spacing: 0.12px;
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.bx--tooltip__trigger.bx--tooltip__trigger--definition {
  border-bottom: 0;
}

.bx--tooltip__trigger.bx--tooltip__trigger--definition.bx--tooltip--bottom.bx--tooltip--align-start.bx--tooltip--a11y
  + .bx--assistive-text {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.16px;
}
