.side-bar-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    color: #393939;
  }
}

.close-icon {
  top: 48px;
  right: 0 !important;
  border: none;
  position: fixed;
}

.side-bar-nav {
  background: white;
  position: fixed;
  top: 48px;
  right: 0 !important;
  height: 100%;
  width: 30%;
  min-width: 540px;
  z-index: 9999;
  overflow: scroll;
  box-shadow: -1px 2px 3px 0px #aaa;
}
