.side-bar-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    color: #393939;
  }
}

.close-icon {
  top: 0;
  right: 0 !important;
  border: none;
  position: fixed;
}

.side-bar-nav-desktop {
  background: white;
  position: fixed;
  top: 0;
  right: 0 !important;
  height: 100%;
  z-index: 9999;
  overflow: scroll;
  padding-top: 48px;
  box-shadow: -1px 2px 3px 0px #aaa;
}

// .side-bar-nav-tablet {
//   background: white;
//   position: fixed;
//   top: 0;
//   right: 0 !important;
//   height: 100%;
//   z-index: 9999;
//   padding-top: 48px;
//   overflow: scroll;
//   box-shadow: -1px 2px 3px 0px #aaa;
// }

@media screen and (min-width: 1024px) {
  .side-bar-nav-desktop {
    width: 30%;
    min-width: 540px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .side-bar-nav-desktop {
    width: 30%;
    min-width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .side-bar-nav-desktop {
    width: 100%;
  }
}
