.drug-chart-modal {
  .bx--modal-container {
    width: 550px;
  }

  @media screen and (max-width: 640px) {
    .bx--modal-container {
      width: 100%;
    }
  }

  .bx--modal-container {
    background-color: #ffffff;
  }

  .bx--list-box__wrapper {
    max-width: none;
  }

  .field-with-units {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 0px;
  }

  .bx--form-item,
  .schedule-section,
  .frequency,
  .start-time {
    padding-top: 3px;
  }

  .schedule-section,
  .inline-field {
    display: flex;
    padding-top: 3px;
    align-items: inherit;
  }

  .schedule-section {
    flex-direction: column;
    flex-wrap: wrap;

    .inline-field {
      flex-wrap: wrap;
    }
  }

  .route {
    width: 60%;
    margin-right: 0px;

    .dropdown {
      width: 100%;
    }
  }

  .bx--text-input-wrapper--readonly .bx--text-input {
    width: 100%;
    overflow: auto;
    color: #8d8d8d;
    background: #eee;
  }

  button[class*="bx--"]:disabled {
    opacity: 1;
    border: none;
    border-bottom: #c6c6c6 1px solid;
  }

  .bx--text-input__readonly-icon {
    display: none;
    cursor: not-allowed;
  }

  .bx--text-area:disabled,
  .bx--text-input-wrapper--readonly .bx--text-input {
    border-bottom: #c6c6c6 1px solid;
    cursor: not-allowed;
  }

  .bx--date-picker__input:disabled,
  .bx--number input[type="number"]:disabled {
    background-color: #eee;
    border: none;
    border-bottom: #c6c6c6 1px solid;
  }

  .bx--number input[type="number"]:disabled {
    color: #777;
  }

  .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    margin-right: 5px;
  }

  .bx--number__control-btn:disabled {
    border: none;
    border-bottom-color: #c6c6c6 1px solid;
  }

  .frequency {
    width: 100%;

    .bx--list-box__field {
      max-width: initial;
    }
  }

  .required {
    color: #e0182d;
  }

  .titleText {
    font-size: 0.75rem;
  }
}
