.bx--form-item,
.schedule-section,
.start-time {
  padding-top: 3px;
}

.schedule-section,
.inline-field {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.schedule-section {
  flex-wrap: wrap;
}

.inline-field > * {
  margin-right: 1rem;
}

.bx--text-input-wrapper--readonly .bx--text-input {
  width: 100%;
  overflow: auto;
  color: #8d8d8d;
}

button[class*="bx--"]:disabled {
  opacity: 1;
}

.bx--text-input__readonly-icon {
  display: none;
  cursor: not-allowed;
}

.bx--text-area:disabled,
.bx--text-input-wrapper--readonly .bx--text-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.bx--date-picker__input:disabled {
  background-color: #eee;
  border: #ccc 1px solid;
}

.bx--number input[type="number"]:disabled {
  background-color: #eee;
  border: #ccc 1px solid;
  color: #777;
}

.bx--number__control-btn:disabled {
  border-bottom-color: #c6c6c6;
}

.required {
  color: #e0182d;
}
