.drug-chart-modal {
  .bx--modal-container {
    width: 550px;
    background: #ffffff;
  }

  @media screen and (max-width: 640px) {
    .bx--modal-container {
      width: 100%;
    }
  }

  .bx--modal-header {
    background: #ffffff;
  }
  .bx--modal-content {
    background: #ffffff;
    margin-bottom: 1rem;
  }

  .bx--list-box__wrapper {
    max-width: none;
  }

  .field-with-units {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 0px;
  }

  .schedule-section,
  .frequency,
  .start-time,
  .inline-field,
  .notes-sections,
  .instructions,
  .additional-instructions {
    padding: 10px 0 10px 0;
  }

  .schedule-section,
  .inline-field {
    display: flex;
    align-items: inherit;
  }

  .schedule-section {
    flex-direction: column;
    flex-wrap: wrap;
    .inline-field {
      padding: 0;
    }
  }

  .route {
    width: 60%;
    margin-right: 0px;

    .dropdown {
      width: 100%;
    }
  }

  .time-error {
    margin: 0;
    margin-top: 4px;
    font-size: 0.75rem;
    color: #da1e28;
  }

  .time-warning {
    margin: 0;
    margin-top: 4px;
    font-size: 0.75rem;
    color: #2b95ff;
  }

  .bx--text-input-wrapper .bx--text-input {
    width: 100%;
    overflow: auto;
    border: none;
    background-color: #efefef;
    color: #8d8d8d;
  }

  button[class*="bx--"]:disabled {
    opacity: 1;
    border: none;
  }

  .bx--text-input__readonly-icon {
    display: none;
    cursor: not-allowed;
  }

  .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    background: #efefef;
  }

  .bx--date-picker__input:disabled,
  .bx--number input[type="number"]:disabled {
    border: none;
  }

  .bx--number input[type="number"]:disabled {
    font-size: 0.85rem;
    font-weight: 400;
    color: #8d8d8d;
    cursor: not-allowed;
    background-color: #efefef;
  }

  .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    margin-right: 5px;
  }

  .bx--number__control-btn:disabled {
    border: none;
  }

  .frequency {
    width: 100%;

    .bx--list-box__field {
      max-width: initial;
      border: none;
    }
  }

  .required {
    color: #da1e28;
  }

  .bx--time-picker--invalid ~ .bx--form-requirement {
    padding-right: 10px;
  }

  .titleText {
    font-size: 0.75rem;
  }

  .bx--dropdown--disabled .bx--list-box__label {
    font-size: 0.85rem;
  }

  input#time-selector,
  textarea.bx--text-area.notes-section {
    background-color: #efefef;
  }
}
