$edited-instruction-highlight: #e9f3fb;

.care-instructions-display-control {
  .empty-state-message {
    padding-top: 10px;
  }

  .instruction-cell {
    white-space: pre-wrap;
  }

  .action-cell {
    white-space: nowrap;
  }

  .bx--tab-content {
    padding: 1rem 0 0 0;
  }

  .edited-instruction-row {
    background-color: $edited-instruction-highlight;
    td {
      background-color: $edited-instruction-highlight !important;
    }
  }
}
