.tabs-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.tab {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  transition: background-color 0.3s;
  padding: 8px;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #ddd;
  border-left: 2px solid #007d79;
}

.tab-content {
  display: none;
  padding: 8px;
  color: #161616;
}

.tab-content.active {
  display: block;
  background-color: #ddd;
  padding: 8px;
  border: none;
}

.tab-additional-content {
  padding: 12px 0 8px;
  color: #525252;
}
