.no-treatments {
  padding-top: 10px;
}

.warning-notification {
  z-index: 10000;
}

.treatments-drug-name {
  width: 100%;
}

.notes-icon-div {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  .bx--tag {
    width: 100%;
  }
  .notes-icon {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.strike-through {
  text-decoration: line-through #ff0000;
}

.red-text {
  color: #ff0000;
}

.stop-drug-reason-text {
  padding-top: 16px;
}
