.no-treatments {
  padding-top: 10px;
}

.warning-notification {
  z-index: 10000;
}

.treatments-drug-name-slider-open {
  padding-left: 10px;
  width: 100%;
  display: block;
}

.treatments-drug-name {
  padding-left: 10px;
  width: 100%;
  display: block;
  position: relative;
  top: -5px;
}

.notes-icon-div {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
