.care-view-patients-container {
  padding: 20px 5%;
  display: flex;
  justify-content: center;

  .no-search-results {
    padding: 20px 0 20px 20px;
    margin: 10px 226px 10px 295px;
    border: 1px solid #0f62fe;
    background-color: #d0e2ff73;
  }

  .care-view-patients {
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 24px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .patient-section {
    padding: 10px 0 10px 0;
  }
  .task-type {
    display: flex;
    flex-flow: row;
    justify-content: end;
  }

  .patient-pagination {
    max-width: max-content;
    margin-left: auto;
    background-color: white;
    .bx--btn.bx--btn--icon-only.bx--tooltip__trigger .bx--assistive-text {
      color: white;
      padding: 0.5rem 1rem;
    }
  }
}

.no-nursing-tasks {
  padding-top: 10px;
}

.no-search-results {
  display: flex;
  align-items: center;

  .no-search-results-span {
    padding: 5px;
    letter-spacing: 0.24px;
  }
}
