.care-view-patients-container {
  padding: 20px 5%;
  display: flex;
  justify-content: center;

  .no-search-results {
    padding: 20px 0 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
  }

  .care-view-patients {
    width: 100%;
  }

  .patient-section {
    padding: 10px 0 10px 0;
  }
  .task-type {
    display: flex;
    flex-flow: row;
    justify-content: end;
  }
  .ward-patient-search {
    margin-left: 420px;
    margin-right: 16px;
  }
  .patient-pagination {
    max-width: max-content;
    margin-left: auto;
    .bx--btn.bx--btn--icon-only.bx--tooltip__trigger .bx--assistive-text {
      color: white;
      padding: 0.5rem 1rem;
    }
  }
}

.no-nursing-tasks {
  padding-top: 10px;
}
