.drug-chart-calendar {
  width: max-content;
  border-spacing: 0;
  margin: 0;
  tbody {
    tr {
      border-bottom: 0;
      &:nth-child(even) {
        background-color: #f4f4f4;
      }
    }
  }
}
