.time-cell {
  --day-border: 1px solid #c6c6c6;
  box-sizing: content-box;
  border-left: var(--day-border);

  display: flex;
  height: var(--time-cell-height);
  align-items: center;
  align-items: stretch;

  &:last-child {
    border-right: var(--day-border);
  }

  > div {
    box-sizing: content-box;
    width: var(--half-hour-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    &:last-child {
      border-left: 1px dashed #c6c6c6;
    }
  }
}
