.drug-chart-dashboard {
  font-family: "IBM Plex Sans", sans-serif;
  .arrow-button-wrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
    .arrow-button {
      z-index: 1;
      min-height: 30px;
      max-width: none;
      width: 100%;
      .bx--btn__icon {
        width: 100%;
        padding-left: 16px;
      }
    }
  }
}

.drug-chart {
  --time-cell-height: 72px;
  --half-hour-width: 50px;
  --line-width: 1px;
  /* 65 px header */
  max-height: calc(10 * var(--time-cell-height) + 65px);
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 auto;
  .arrow-button {
    z-index: 1;
    min-height: 30px;
    max-width: none;
    width: 100%;
    .bx--btn__icon {
      width: 100%;
      padding-left: 16px;
    }
  }
}

.drug-chart-left-panel {
  border-right: 1px solid #ccc;
  font-size: 13px;
  overflow-y: auto;
  height: 100%;
  min-width: 225px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
  z-index: 20;
  .header {
    display: flex;
    align-items: end;
    height: 63px;
    background-color: #ededed;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    tbody > tr:nth-child(even) {
      background-color: #f4f4f4;
    }
    tr {
      height: var(--time-cell-height);
      border-bottom: 0;
      td {
        line-height: 20px;
        padding: 0 10px;
        max-width: 100%;
        border: 0;
      }
    }
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.drug-chart-left-panel::-webkit-scrollbar {
  display: none;
}

.drug-chart-content {
  overflow: auto;
  height: 100%;
  margin-left: 6px;
}
