.drug-chart-slider {
  padding: 20px;
  padding-bottom: 120px;
}

.drug-chart-slider__header {
  margin-bottom: 16px;
}

.drug-chart-slider__drug-name {
  margin-bottom: 8px;
  font-weight: 600;
  color: #161616;
}

.drug-chart-slider__dosage-info {
  margin-bottom: 16px;
  color: #525252;
}
