.drugchart-parent-container {
  .drugchart-shift-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .margin-right-6 {
    margin-right: 6px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }

  .bx--btn--expressive {
    min-height: 32px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 18px;
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center::before {
    display: none;
  }

  .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center::after {
    display: none;
  }

  .bx--tooltip__trigger.bx--btn--icon-only--top.bx--tooltip--align-center
    .bx--assistive-text {
    display: none;
  }
  .shift-timing {
    .shift-time {
      display: flex;
      svg {
        margin: 0 3px;
      }
    }
    .shift-title {
      font-size: 12px;
    }
  }
}
