.drug-chart-note-acknowledgement {
  margin-bottom: 16px;
}

.drug-chart-note-acknowledgement__toggle {
  margin-bottom: 16px;
}

.drug-chart-note-acknowledgement__textarea {
  margin-bottom: 16px;
}
