.drug-chart-drug-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  font-style: normal;
}

.drug-order-details {
  display: flex;
  padding: 6px 10px;

  .order-details {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5rem);
    gap: 2px;
  }

  .administration-details {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .medication-tags {
    margin-left: auto;
    margin-right: 0;
  }
}

.drug-name-container {
  display: flex;
  align-items: center;
}

.dosage {
  font-size: 12px;
  font-weight: 400;
  color: #393939;

  > * {
    display: inline-block;
  }
}

.note-icon-container {
  margin-left: 5px;
}

.tooltip-content-separater {
  height: 1px;
  background-color: #bbb8b8;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.red-tag {
  color: #fff;
  background-color: #ff0000;
  min-width: 64px;
  margin: 4px 0;
}
