.bx--tooltip__label .bx--tooltip__trigger {
  margin-left: 0;
}

.bx--tooltip__content {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.16px;
}
