.time-cell {
  --day-border: 1px solid #c6c6c6;
  box-sizing: content-box;
  border-left: var(--day-border);
  display: flex;
  height: var(--time-cell-height);
  align-items: center;
  align-items: stretch;
  .note-icon-container {
    margin: 0;
  }

  &:first-child {
    border-left: 2px solid #c6c6c6;
  }

  &:last-child {
    border-right: var(--day-border);
  }

  > div {
    box-sizing: content-box;
    width: var(--half-hour-width);
    flex-direction: row;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    &:last-child {
      border-left: 1px dashed #c6c6c6;
    }
  }

  .highligtedCell {
    background-color: #e3f1fa;
  }
}
