.time-cell {
  display: flex;
  height: var(--time-cell-height);
  align-items: stretch;
  .note-icon-container {
    margin: 0;
  }

  &:first-child {
    border-left: var(--day-border-2);
  }

  &:last-child {
    border-right: var(--day-border);
  }

  > div {
    width: var(--half-hour-width);
    flex-direction: row;
    gap: 8px;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    justify-content: center;
    padding: 25px 0;
    text-align: center;
    &:last-child {
      border-left: var(--half-day-border);
    }
  }
  svg {
    fill: none;
  }
  .bx--tooltip__trigger {
    &:hover,
    &:focus {
      svg {
        fill: none;
      }
    }
  }

  .highlightedCell {
    background-color: #e3f1fa;
  }

  .blank {
    background-color: white;
  }
}

.time-cell-for-whole-hour {
  --day-border: 1px solid #c6c6c6;
  --day-border-2: 2px solid #c6c6c6;
  --half-day-border: 1px dashed #c6c6c6;
  border-left: var(--day-border);
  @extend .time-cell;
}

.time-cell-for-half-hour {
  --day-border: 1px dashed #c6c6c6;
  --day-border-2: 1px dashed #c6c6c6;
  --half-day-border: 1px solid #c6c6c6;
  border-left: var(--day-border);
  @extend .time-cell;
}
