.dose-field-with-units {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;

  .dropdown {
    width: 142.449px;
  }
}

.duration-field-with-units {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;

  .dropdown {
    width: 142.449px;
  }
}

.frequency .dropdown {
  margin-right: 0px !important;
  #DropdownFrequency {
    width: 500px;
  }
}

.date-picker-carbon {
  width: 45%;
  .cds--date-picker .cds--date-picker--single,
  .cds--date-picker-container {
    width: 100%;
  }
}

.schedule-time,
.schedule-time-remainder {
  padding-right: 10px;
  input#time-selector,
  textarea.cds--text-area.notes-section {
    background-color: #efefef;
  }
}

.start-time {
  input#time-selector,
  textarea.cds--text-area.notes-section {
    background-color: #efefef;
  }
}

.schedule-section,
.frequency,
.start-time,
.inline-field,
.notes-sections,
.instructions,
.additional-instructions {
  padding: 10px 0 10px 0;
}

.schedule-section,
.inline-field {
  display: flex;
  align-items: inherit;
  justify-content: flex-start;
}

.schedule-section {
  flex-direction: column;
  flex-wrap: wrap;
  .titleText {
    color: #000;
  }
  .inline-field {
    flex-wrap: wrap;
    padding: 0;
  }
}

.route {
  width: 45%;
  margin-right: 0px;

  .dropdown {
    width: 100%;
  }
}

.time-error {
  margin: 0;
  margin-top: 4px;
  font-size: 0.75rem;
  color: #ff0000;
}

.time-warning {
  margin: 0;
  margin-top: 4px;
  font-size: 0.75rem;
  color: #2b95ff;
}

.cds--text-input-wrapper .cds--text-input {
  width: 100%;
  overflow: auto;
  border: none;
  background-color: #efefef;
  color: #8d8d8d;
}

button[class*="cds--"]:disabled {
  opacity: 1;
  border: none;
  border-radius: 0px;
}

.cds--text-input__readonly-icon {
  display: none;
  cursor: not-allowed;
}

.cds--date-picker.cds--date-picker--single .cds--date-picker__input {
  background: #efefef;
  width: 100% !important;
}

.cds--date-picker.cds--date-picker--single {
  width: 100%;
}

.cds--date-picker__input:disabled,
.cds--number input[type="number"]:disabled {
  border: none;
}

.cds--number input[type="number"]:disabled {
  font-size: 0.85rem;
  font-weight: 400;
  color: #8d8d8d;
  cursor: not-allowed;
  background-color: #efefef;
}

.cds--number__control-btn:disabled {
  border: none;
}

.frequency {
  width: 100%;

  .cds--list-box__field {
    max-width: initial;
    border: none;
  }
}

.required {
  color: #ff0000;
}

.cds--time-picker--invalid ~ .cds--form-requirement {
  padding-right: 10px;
}

.titleText {
  font-size: 0.75rem;
}

.cds--dropdown--disabled .cds--list-box__label {
  font-size: 0.85rem;
}

.cds--number input[type="number"]:disabled ~ .cds--number__controls {
  width: 55%;
}

.cds--time-picker .cds--select-input {
  background-color: #efefef;
}
