.care-view-summary {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid #007d79;

  .bx--dropdown__wrapper.bx--list-box__wrapper {
    padding: 0 20px;
  }

  .summary-tiles {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    margin-top: 15px;
    .summary-tile {
      .heading-text {
        font-weight: 600;
      }
      .value-text {
        color: #004144;
        font-size: 28px;
      }
    }
  }
}
