.high-severity-color td {
  color: #ff0000 !important;
}
.no-allergen-message {
  padding-top: 10px;
}
.no-known-allergy td {
  color: #000000 !important;
  text-decoration: line-through !important;
}
