.ipd-page {
  .main {
    transition: margin-left 0.5s;
    padding: 16px;
    position: relative;
    margin-left: 16rem;
  }
  .bx--accordion__title {
    font-weight: 600;
  }

  .bx--side-nav__overlay-active {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 240ms cubic-bezier(0.2, 0, 0.38, 0.9),
      background-color 240ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  .border-bottom-0 {
    border-bottom: 0;
  }

  .navbar-border {
    border-right: 1px solid #007d79;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  a.bx--side-nav__link--current::before {
    background-color: #007d79;
  }

  .header-bg-color {
    background: #004144;
  }

  .header-nav-toggle-btn {
    border: none;
  }

  .header-nav-toggle-btn:hover {
    background-color: #004144;
    fill: #ffffff;
    outline: none;
    border: none;
  }

  .bx--accordion__heading {
    border-bottom: 1px solid #007d79;
    border-radius: 0;
  }

  .bx--accordion__item:last-child {
    border: none;
  }
  svg[class*="bx--accordion__arrow"] {
    fill: #666;
  }
  .bx--accordion__content {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .ipd-page {
    .main {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .ipd-page {
    .main {
      width: calc(100% - 550px - 16rem);
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .ipd-page {
    .main {
      width: calc(100% - 550px);
    }
  }
}

@media screen and (max-width: 640px) {
  .ipd-page {
    .main {
      width: 100%;
    }
  }
}
