.ipd-page {
  color: #393939;
  font-family: "IBM Plex Sans", sans-serif;
  // padding top coming from parent
  margin-top: -25px;
  .main {
    transition: margin-left 0.5s;
    padding: 12px 16px 16px;
    position: relative;
    margin-left: 16rem;
  }

  .main-with-slider {
    @extend .main;
    margin-right: 540px;
  }

  .bx--accordion__title {
    font-weight: 600;
  }

  .bx--side-nav__overlay-active {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 240ms cubic-bezier(0.2, 0, 0.38, 0.9),
      background-color 240ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  .border-bottom-0 {
    border-bottom: 0;
  }

  .navbar-border {
    border-right: 1px solid #007d79;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-not-allowed {
    cursor: not-allowed;
  }

  a.bx--side-nav__link--current::before {
    background-color: #007d79;
  }

  .header-bg-color {
    background: #007d79;
  }

  .header-nav-toggle-btn {
    border: none;
    &:hover {
      background-color: #007d79;
      fill: #ffffff;
      outline: none;
      border: none;
    }
  }

  .bx--accordion__heading {
    border-bottom: 1px solid #007d79;
    border-radius: 0;
  }

  .bx--accordion__item:last-child {
    border: none;
  }
  svg[class*="bx--accordion__arrow"] {
    fill: #666;
  }
  .bx--accordion__content {
    padding: 0;
  }

  .patient-header-navigation {
    position: sticky;
    top: 48px;
    padding-top: 4px;
    z-index: 1000;
    background: #fafafa;
  }

  .bx--loading {
    height: 2.5rem;
    width: 2.5rem;
  }

  .display-container {
    min-height: 100px;
  }

  .loading-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ipd-header {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav {
    display: flex;
    align-items: center;
    > * {
      padding: 10px;
      height: 3rem;
      justify-content: center;
      width: 50px;
      border-radius: 0;
      &:hover,
      &:focus {
        outline: none;
        background-color: #004144;
      }
    }
    .bx--link__icon {
      margin-left: 0;
    }
    svg {
      fill: #fff;
    }
  }
}

@media screen and (max-width: 1055px) {
  .ipd-page {
    .main {
      margin-left: 0;
    }
    .main-with-slider {
      margin-left: 0;
      margin-right: 540px;
    }
  }
}
