.patient-header {
  margin: 10px 0 10px 0;
}

.patient-image {
  width: 84px;
}

.patient-header-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.patient-info {
  color: #525252;
}
