.patient-header {
  margin: 10px 0 10px 0;
  padding: 0;
  .patient-name {
    color: #393939;
    font-size: 20px;
    margin: 10px 0 10px 0;
  }

  .header-title-row {
    justify-content: space-between;

    .patient-movement-overflow {
      position: absolute;
      right: 1px;
    }
  }

  .patient-details {
    width: 100%;
    padding: 0;
    align-items: center;
    position: static;
    border-top: 1px solid #e5e5e5;

    .details-tile {
      display: flex;
      flex-flow: column;
    }

    .details-headers {
      font-weight: 600;
      padding: 5px 0;
      color: #393939;
    }

    .details-value {
      display: flex;
      flex-flow: row;
      padding: 3px;
    }
  }

  .patient-name-and-navigations {
    display: flex;
    align-items: baseline;
    padding: 0 0 0 10px;

    .bx--link {
      padding: 0 0 0 10px;
    }
  }

  .patient-image {
    height: 56px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 100%;
  }

  .patient-header-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .patient-info {
    padding: 0 10px;
    min-width: fit-content;
    color: #525252;
    font-size: 14px;
  }

  .patient-basic-info {
    display: flex;
  }

  .show-more {
    font-size: 0.875rem;
    position: absolute;
    right: 4px;
    top: 78px;
  }

  .other-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 0 10px;
    width: 100%;

    a {
      font-size: 0.875rem;
    }
  }

  .bed-information {
    padding: 0px;
    min-width: fit-content;
    color: #525252;
    font-size: 14px;
  }
}

.is-loading {
  height: 64px;
}

.bx--row.patient-image-and-details {
  align-items: center;
}

.patient-movement-ipd-dropdown {
  width: 100%;
}
