.vital-tiles,
.abnormal-tiles {
  margin: 3px;
  padding: 3px;
  display: flex;
  flex-flow: column;
  align-items: normal;
  text-align: left;
  background-color: #ffffff;
  justify-content: space-between;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

.vital-values {
  font-size: 16px;
}

.vital-value-and-unit {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.vital-tiles {
  border: 1px solid #525252;
}

.abnormal-tiles {
  border: 2px solid #da1e28;
  color: #da1e28;
}
